.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas: 
    'header header '
    'nav content';

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
.header {
  grid-area: header;
  background-color: rgb(199, 219, 161);;
}

.header img {
  width: 50px;
  
}

.nav {
  grid-area: nav;
  background-color: rgb(199, 219, 161);
}

.content {
  grid-area: content;
  background-color: rgb(202, 202, 199);
}
.content img {
  width: 100%;
  height: 100%;
}